*.a
*.gcda
*.o
.deps
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/compile
/config.guess
/config.sub
/debian/changelog
/events_tally
/postprocess
/replay
/test-driver
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
